<style>
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
</style>

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/*main-wrap
==============================*/
.main-wrap {
	margin: 0 auto;
	width: 760px;
	background-color: #4164DA;
	padding: 40px 10px 25px 10px;
}

/*main
==============================*/
.main {
	margin: 0 auto;
	/*width: 740px;*/
	background-color: #fff;
	padding: 0px 30px 30px 30px;
}

.header-bg {
	background: url(../docua2/header.png);
    height: 110px;
    background-size: cover;
}

/*wrap
==============================*/
.wrap {
	padding: 20px 50px 0px 50px;
    /*background-color: red;*/
}

.text-center {
	text-align: center;
	padding-bottom: 1px;
	font-size: 18px;
}

.main-text {
    /*padding-bottom: 1px;*/
    font-size: 18px;
}

/*row
==============================*/
.row {
	padding-bottom: 30px;
	display: flex;
    justify-content: space-between;
}

.proposr {
    width: 285px;
}

.propose-image {
    padding-bottom: 10px;
}

.propose-text {
	text-align: center;
	padding-bottom: 20px;
}

.btn-text {
	text-align: center;
}

.btn {
	display: flex;
	text-decoration: none;
	border-radius: 5px;
	background-color: #cf5b4e;
	color: #fff;
	text-align: center;
    line-height: 40px;
    width: 285px;
}

.text-bat {
    padding-bottom: 30px;
}

.btn-doc{
	display: flex;
	text-decoration: none;
	border-radius: 5px;
	background-color: #cf5b4e;
	color: #fff;
	text-align: center;
    line-height: 40px;
}

/*footer
==============================*/
.footer {
	padding: 30px 20px 20px 20px;
	display: flex;
	background-color: #4164DA;
	height: 50px;
}

.footer-image {
	display: flex;
    height: 50px;
    width: 100px;
    margin-left: auto;
    margin-right: auto
}

.footer-image > img {
	height: 50px;
    width: 50px;
}

.text {
	background-color: #4164DA;
}

.text-doc {
	text-align: center;
	padding-bottom: 1px;
	font-size: 14px;
	color: #fff;
}

.text-ua {
	text-align: center;
	padding-bottom: 30px;
	font-size: 14px;
    color: #fff;
}